<h1> Create Book</h1>
  <br>
  <br>
<div>
  <%= form_with(url: "/books", method: "post") do %>
  <table>
   <tbody>    
      <tr>
       <td> <%= label_tag(:title, " Title : ") %></td>
       <td>  <%= text_field_tag(:title) %> </td>
      </tr>
   
      <tr>
        <td>  <%= label_tag(:category, " Category : ") %></td>
        <td>   <%= text_field_tag(:category) %> </td>
       </tr>

       <tr>
        <td> <%= label_tag(:author_name, " Author Name : ") %></td>
        <td> <%= text_field_tag(:author_name) %> </td>
       </tr>
      
       <tr>
        <td>  <%= label_tag(:language, " Language : ") %></td>
        <td>  <%= text_field_tag(:language) %></td>
       </tr>
       
       <tr>
         <td></td>
         <td><%= submit_tag("Create") %></td> 
       </tr>
        <% end %>
      </tbody>
  </table>

</div>