<h1> Details of Book </h1>
<h3>Id : <%= @book.id%></h3>
<h3>Title : <%= @book.title %></h3>
<h3>Author : <%= @book.author_name%></h3>
<h3>Category : <%= @book.category%></h3>
<h3>Language : <%= @book.language%></h3>

<h1> Book Editions</h1>
<hr>
<%@book.editions.each do |edition| %>
<h3> Version : <%=edition.version%></h3>  
<h3> Published Date : <%=edition.published_date%></h3>
<h3> Cover Type : <%=edition.cover_type%></h3>
<h3> No of Pages : <%=edition.no_of_pages%></h3>
<h3> Price : <%=edition.price%></h3>
<%= link_to "Edit Edition", edit_book_edition_path(@book, edition), :id => 'edit', :method => :get %>
<%= link_to "Delete", book_edition_path(@book, edition),:id => 'delete', :method => :delete %>
<hr>
<%end%>
