<h1> Details of Book </h1>
<h3>Id : <%= @book.id%></h3>
<h3>Title : <%= @book.title %></h3>
<h3>Author : <%= @book.author_name%></h3>
<h3>Category : <%= @book.category%></h3>
<h3>Language : <%= @book.language%></h3>

